body{
    width: 100%;
    margin: auto;
    font-family: calibri;
    background-color: #e1e1e1;
}
img{
    object-fit: cover;
}
button{
    cursor: pointer;
}
.case{
    img{
        max-width: 100%;
        width: 150px;
        height: 150px;
    }
}
.header{
    
    background: white;
    width: 95%;
    position: relative;
    /* right: 50%; */
    left: 2%;

    img{
        max-width: 100%;
        width: 250px;
        height: 250px;
    }
    .inside_header{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
   
    margin: 0px 10px 10px;
}
}
.profil_img{
    img{
        max-width: 100%;
        width: 100px;
        height: 100px;
    }
}
.side{
    display: flex;
    align-items: stretch;
    margin: 0px 10px 10px;
}
.case_service{
    display: grid;
        grid-template-columns: repeat(3, 207px);
        gap: 15px;
        justify-content: center;
}
.icon_nav{
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.btn_more{
    position: relative;
    width: fit-content;
    button{
        padding: 7px;
        width: 90px;
        background-color: orange;
        font-family: sans-serif;
        border: none;
    }
}
.header_service{
    
}
.sideLeft{
    width: 20%;
    background-color: white;
    padding: 10px;
    height: 100vh;
    position: fixed;
}
.sideRight{
    background-color: white;
    padding: 10px;
    height: 100vh;
    position: fixed;
    right: 0px;
}
.sideCenter{
    width: 60%;
    margin-left: 15%;
    padding: 0px 10px;
}